<h1>Give me a word! I'll give you a score!</h1>
<form action='/scrabble_word'>
  <div class="form-group">
    <label for="word">Your word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
